* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.6px solid gray;
  font-size: 18px;
}
.footer {
  color: white;
  padding: 10px;
  background: linear-gradient(to right, #434343, #000);
}
.footer h5 {
  font-size: 25px;
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1.2px solid #ffefba;
}

/* page not found css */
.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f4f4f4;
}

.not-found-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.not-found-page p {
  font-size: 1rem;
  color: #666;
}
.back-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
  background-color: #0056b3;
}

/* contact page css */
.contact-us-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
}

.contact-us-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* about page css */
.about-us-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
}

.about-us-content {
  text-align: center;
}

.about-us-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.about-us-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

/* signup page css */

.signup-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.2rem;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
}

.signup-content {
  text-align: center;
}

.signup-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1rem;
  color: #555;
  margin-top: 1rem;
}

/* FormComponent.css */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.form-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.submit-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* ModalComponent.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  width: 400px;
  position: relative;
  animation: slideUp 0.3s ease-in-out;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/* AllProductsPage.css */

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

/* ProductPage.css */
.product-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}

.product-image {
  flex: 1;
  max-width: 100%;
  height: 100px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.product-details {
  padding: 1rem;
}

.product-title {
  font-size: 1.5rem;
  color: #333;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-category,
.product-price {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.3rem;
}

.shipping-status {
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5rem;
}

.update-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.update-button:hover {
  background-color: #0056b3;
}
.add-to-cart-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.section-heading {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.search-h1 {
  font-size: 2rem;
}
.left-sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  margin-left: 10px;
  margin-top: 2rem;
  flex-direction: column;
}

.search-info {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.result-count {
  font-size: 1rem;
  color: #666;
}

.product-price {
  font-size: 1.1rem;
  color: #888;
  /* background-color: yellow; */
  margin-bottom: 0.3rem;
}

/* similar product styles */
.similar-products {
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.similar-products-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.similar-product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.similar-product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.similar-product-image {
  flex-grow: 1;
  overflow: hidden;
}

.similar-product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}

.similar-product-details {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.similar-product-name {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.similar-product-category {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 5px;
}

.similar-product-description {
  font-size: 0.9rem;
  color: #666;
  flex-grow: 1;
  overflow: hidden;
}
.see-more-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.see-more-button:hover {
  background-color: #0056b3;
}
/* single poduct user page title */
.my-product-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.title-of-no-products {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* CartPage.css */
.cart-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.cart-products {
  padding: 20px;
  background-color: #f7f7f7;
}

.checkout-section {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.cart-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 1.2rem;
  color: #333;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1rem;
  color: #888;
  margin-bottom: 5px;
}

.checkout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}
.remove-from-cart-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-from-cart-button:hover {
  background-color: #c82333;
}
@media screen and (min-width: 768px) {
  .cart-page {
    padding: 30px;
  }

  .cart-container {
    flex-direction: row;
  }

  .cart-products {
    flex: 1;
    border-right: 1px solid #ddd;
    padding: 30px;
  }

  .checkout-section {
    flex: 1;
    padding: 30px;
  }

  .product-item {
    flex-direction: row;
  }

  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

/* PaymentCancelledPage.css */
.payment-cancelled-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.payment-cancelled-content {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.payment-cancelled-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.payment-cancelled-message {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.back-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-cart-button:hover {
  background-color: #0056b3;
}

/* UserListPage.css */
.user-list-page {
  padding: 20px;
}

.user-list-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}
.user-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(33.33% - 20px);
}

.admin-card {
  position: relative;
}

.admin-card::before,
.admin-card .user-role {
  font-weight: bolder;
  font-size: 1.6rem;
}

.admin-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 5px;
}

.user-name {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  display: inline-block;
}

.user-info {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.user-label {
  font-weight: bold;
}

.user-role {
  font-size: 1rem;
  margin-top: 10px;
}

/* UserProfilePage.css */
.user-profile {
  padding: 20px;
}

.user-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media screen and (max-width: 576px) {
    width: 95%;
  }
}

.user-name {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.user-info {
  font-size: 1.2rem;
  color: #666;
  margin: 5px 0;
}

.user-label {
  font-weight: bold;
}

.user-role {
  font-size: 1.2rem;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .user-name {
    font-size: 1.3rem;
  }

  .user-info {
    font-size: 1.1rem;
  }

  .user-role {
    font-size: 1.1rem;
  }
}
